body {
  margin: 0;
  background-color: rgb(244, 232, 248);
  font-family: 'Courier New', Courier, monospace;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgb(166, 83, 193);
  font-weight: 800;
  font-size: 30px;
  margin-top: 0;
}

/* containers */
.appContainer {
  width: 100%;
  height: 100%;
}


main {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.formContainer {
  padding: 1rem;
  background-color: rgb(198, 156, 212);
}

.formContainer, 
#outputField,
#loadersField {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 16px;
}

.content {
  display: flex;
  height: 100%;
}

/* form input */
.questionContainer {
  width: 50%;
}
.formContainer {
  // width: 60%;
  height: 100%;
  background-color: rgb(160, 132, 199); 
  align-items: stretch;
}
.indentedOptions {
  margin-left: 2em;
}
.header{
  font-weight: 600;
}

/* code */
.codeContainer {
  width: 40%;
  height: 100%;
  background-color: rgb(198, 156, 212); 
  // position: relative;
}
.webpackCode textarea {
  margin: 2vw 2vw 1vw 2vw;
  width: calc(100% - 4vw);
  height: calc(100% - 4vw);
  resize: none;
  border: 0;
}
.nodeCode {
  height: 25%;
}
.nodeCode textarea {
  margin: 1vw 2vw 2vw 2vw; 
  width: calc(100% - 4vw);
  height: calc(100% - 4vw);
  resize: none;
  border: 0;
}

/* nav */
.navBar {
  // width: 100%;
  display: inline;
  height: 3rem;
  // background-color: rgb(120, 231, 194);
  background-color: rgb(244, 232, 248);

}

/* login and signup */
.dontShow {
  display: none !important;
}
#lrModal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loginSignup {
  position: fixed;
  z-index: 200;
  transform: translateY(-20%);
  width: 300px;
  height: 400px;
}

.navBarLogin {
  padding: .6rem;
  background-color: rgb(198, 156, 212);
  border: 0px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 16px;
}

.loginSignup {
  background-color: rgb(226, 206, 232);
  padding: 3vw;
}
.show{
  display: block;
  transition: 800ms;
  opacity: 1;
}
.show.active{
  // transform: translateY(100px) scale(0) rotateY(180deg);
  //opacity: 0;
  display: none;
}

/* code mirrors */
.webpackCode {
  height: calc(75% - 4vw);
  padding: 2vw;
  padding-bottom: 0;
  position: relative;
}
.nodeCode {
  height: calc(25% - 4vw);
  padding: 2vw;
  position: relative;
}

.cm-editor {
  padding: 1vw;
  overflow: auto;
  overflow-wrap: break-word;
}
.cm-focused {
  outline: none !important;
}

/* CLIPPBOARD BUTTON */
.copyButton{
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  top: 2.5vw;
  right: 2vw;
}
/*hover on copy button*/
.hoverOnCopy{
  position: absolute;
  display: none;
  color: rgb(255, 255, 255);
  font-size: 10px;
  cursor: pointer;
  background-color: rgb(109, 109, 109);
  transform: translateY(-120%) translateX(-35%);
  padding: 5px;
  border-radius: 5px;
  /* transform: translateX(-50%); */
  opacity: 75%;
}
.copyButton:hover{
  .hoverOnCopy{
    display: block;
  }
}



