body {
  margin: 0;
  background-color: rgb(244, 232, 248);
  font-family: 'Courier New', Courier, monospace;
}

/* containers */
.appContainer {
  width: 100%;
  height: 100%;
}


main {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.formContainer {
  padding: 1rem;
  background-color: rgb(198, 156, 212);
}

.formContainer, 
#outputField,
#loadersField {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 16px;
}

.content {
  display: flex;
  height: 100%;
}

/* form input */
.questionContainer {
  width: 50%;
  position: relative;
}
.formContainer {
  // width: 60%;
  height: 100%;
  background-color: rgb(160, 132, 199); 
  align-items: stretch;
}
.indentedOptions {
  margin-left: 2em;
}
.header{
  font-weight: 600;
}

/* DL button */
.download {
  width: 40%;
  height: 2vw;
  bottom: 0;
  position: absolute;
}

/* code */
.codeContainer {
  width: 40%;
  height: 100%;
  background-color: rgb(198, 156, 212); 
  // position: relative;
}
.webpackCode textarea {
  margin: 2vw 2vw 1vw 2vw;
  width: calc(100% - 4vw);
  height: calc(100% - 4vw);
  resize: none;
  border: 0;
}
.nodeCode {
  height: 25%;
}
.nodeCode textarea {
  margin: 1vw 2vw 2vw 2vw; 
  width: calc(100% - 4vw);
  height: calc(100% - 4vw);
  resize: none;
  border: 0;
}

/* nav */
.navBar {
  // width: 100%;
  display: inline;
  height: 3rem;
  // background-color: rgb(120, 231, 194);
  background-color: rgb(244, 232, 248);
}
.navBarBg {
  background-color: rgb(237, 218, 243);
}

/* login and signup */
.dontShow {
  display: none !important;
}
#lrModal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loginSignup {
  position: fixed;
  z-index: 200;
  transform: translateY(-20%);
  width: 300px;
  height: 400px;
}

.navBarLogin {
  padding: .6rem;
  background-color: rgb(198, 156, 212);
  border: 0px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 16px;
}

.loginSignup {
  background-color: rgb(226, 206, 232);
  padding: 3vw;
}
.show{
  display: block;
  transition: 800ms;
  opacity: 1;
}
.show.active{
  // transform: translateY(100px) scale(0) rotateY(180deg);
  //opacity: 0;
  display: none;
}

/* code mirrors */
.webpackCode {
  height: calc(75% - 4vw);
  padding: 2vw;
  padding-bottom: 0;
  position: relative;
}
.nodeCode {
  height: calc(25% - 4vw);
  padding: 2vw;
  position: relative;
}

.cm-editor {
  padding: 1vw;
  overflow: auto;
  overflow-wrap: break-word;
}
.cm-focused {
  outline: none !important;
}

/* CLIPPBOARD BUTTON */
.copyButton{
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  top: 2.5vw;
  right: 2vw;
}
/*hover on copy button*/
.hoverOnCopy{
  position: absolute;
  display: none;
  color: rgb(255, 255, 255);
  font-size: 10px;
  cursor: pointer;
  background-color: rgb(109, 109, 109);
  transform: translateY(-120%) translateX(-35%);
  padding: 5px;
  border-radius: 5px;
  /* transform: translateX(-50%); */
  opacity: 75%;
}
.copyButton:hover{
  .hoverOnCopy{
    display: block;
  }
}



/* SIGN IN WITH GOOGLE BUTTON */
.login-with-google-btn {
  transition: background-color .3s, box-shadow .3s;
    
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
  
  &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
  }
  
  &:active {
    background-color: #eeeeee;
  }
  
  &:focus {
    outline: none;
    box-shadow: 
      0 -1px 0 rgba(0, 0, 0, .04),
      0 2px 4px rgba(0, 0, 0, .25),
      0 0 0 3px #c8dafc;
  }
  
  &:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    cursor: not-allowed;
  }
}
.googleLoginButton {
  margin-bottom: 1vw;
}
